<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div class="content">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"><b>Fashion</b></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><b>HOME</b></a></li>
                <li><a href="#"><b>SHOP</b></a></li>
                <li><a href="#"><b>PRODUCT</b></a></li>
                <li><a href="#"><b>ABOUT US</b></a></li>
                <li><a href="#"><b>PAGES</b></a></li>
                <li><a href="#"><b>CONTACT</b></a></li>
                <li><a href="#"><b>CONTACT</b></a></li>
                    <div class="input-group rounded">
                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    </div>
            </ul>
      
        </div>
    </nav>
    <div class="_content">
       <div class="grid" >
            <div class="home-info">
                <p class="size"><b>Make your Fashion Look more Attractive</b></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore expedita unde 
                    ipsa provident porro placeat architecto reiciendis officiis ut
                     molestias totam voluptate qui, eius neque nobis quasi soluta autem! Vel.</p>
                     <div class="btn">
                        Apply Now
                     </div>
            </div>
            <div class="image">
            <img src="\assets\hs4.jpg">
            </div>
       </div>
       <div class="grid">
        <div class="col-lg-3">
            <p>Free Shipping For $70+ Order        |  </p>
        </div>
        <div class="col-lg-3">
            <p>10 Days Easy Return      | </p>
        </div>
        <div class="col-lg-3">
            <p>24/7 Customer Support      |  </p>
        </div>
        <div class="col-lg-3">
            <p>Member Discount</p>
        </div>
       </div>
    </div>

</div>